@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

:root {
    --primary-color: #1F2937;
    --dark-gray: #6B7280;
    --off-white: #F3F4F6;
}

/* fixes right-space problem in mobile phones **/
/* html {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    overflow: hidden;
} */

body {
    font-family: 'Montserrat',
        sans-serif;
    /* 
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; */
}

hr {
    margin: 2rem 0rem;
}

/** spaces **/

.margin-md {
    margin: 2rem;
}

/** containers **/
.container {
    padding-left: 1rem;
    padding-right: 1rem;
}

.container-center {
    max-width: 600px;
    margin: auto;
}

/** links **/

.link {
    box-sizing: border-box;
    text-decoration: none;
    padding: 0.5rem 1rem;
}

.link-primary {
    background-color: var(--primary-color);
    border-radius: 0.5rem;
    color: var(--off-white);
}

.link-primary:hover {
    color: var(--dark-gray);
}

.link-secondary {
    color: var(--primary-color);
    border-radius: 0.5rem;
    border: 1px solid var(--primary-color);
}

.link-secondary:hover {
    color: var(--dark-gray);
}

.link-center {
    text-align: center;
    padding: 0.5rem;
}

.navigation .link:hover {
    color: var(--dark-gray);
}




/** look for BEM conventions of CSS **/

/** lists **/

.list-non-bullet {
    list-style: none;
}

.list-item-inline {
    display: inline;
    padding: 0rem 0.5rem;
}

/** navigation **/

.navigation {
    background-color: var(--primary-color);
    display: flex;
    color: black;
    padding: 1rem;
    border-bottom-left-radius: 1rem;
    align-items: center;
    justify-content: space-between;
}

.navigation .nav-brand {
    font-weight: bolder;
    font-size: large;
    text-align: left;
}

.navigation .link {
    color: white;
    display: flex;
    flex-direction: row;
}

.navigation .nav-pills {
    text-align: right;
    display: flex;
    flex-direction: row;
}

.navigation .link-active {
    font-weight: bold;
}

/** header **/

.hero {
    padding: 2rem;
}

.hero .hero-img {
    max-width: 350px;
    display: block;
    margin: auto;
}

.hero .hero-heading {
    padding-top: 1rem;
    color: var(--primary-color);
    text-align: center;
}

.hero .hero-heading .heading-inverted {
    color: var(--dark-gray);
}

/** sections **/

.section {
    padding: 2rem;
}

.section h1 {
    text-align: center;
}

.list-non-bullet ul {
    padding-inline-start: 0px;
}

.ow {
    background-color: var(--off-white);
}

/** footers **/

.footer {
    /*background-color: var(--primary-color);*/
    padding: 2rem 1rem;
    text-align: center;
    color: black;
    border-top-right-radius: 1rem;
}

.footer-header {
    font-weight: bolder;
    font-size: large;
}

.footer .link {
    color: white;
}

.footer ul {
    padding-inline-start: 0px;
}

.footer-sm-icon {
    width: 30px;
}

/** emoji-wave **/

.wave {
    animation-name: wave-animation;
    /* Refers to the name of your @keyframes element below */
    animation-duration: 2.5s;
    /* Change to speed up or slow down */
    animation-iteration-count: infinite;
    /* Never stop waving :) */
    transform-origin: 70% 70%;
    /* Pivot around the bottom-left palm */
    display: inline-block;
}

@keyframes wave-animation {
    0% {
        transform: rotate(0.0deg)
    }

    10% {
        transform: rotate(14.0deg)
    }

    /* The following five values can be played with to make the waving more or less extreme */
    20% {
        transform: rotate(-8.0deg)
    }

    30% {
        transform: rotate(14.0deg)
    }

    40% {
        transform: rotate(-4.0deg)
    }

    50% {
        transform: rotate(10.0deg)
    }

    60% {
        transform: rotate(0.0deg)
    }

    /* Reset for the last half to pause */
    100% {
        transform: rotate(0.0deg)
    }
}

/** img emoji **/

img.emoji {
    height: 1.4em;
    width: 1.4em;
    margin: 0;
    padding: 0 .09em;
    vertical-align: -.18em;
    border: 0;
    display: inline-block;
    cursor: pointer;
}

a img.emoji {
    cursor: inherit;
}

/** icon **/

header nav ul li a span.icon {
    font-size: 1.15em;
    vertical-align: -.075em;
}

/* @media screen and (max-width: 500px) {
    .nav-brand a {
      float: none;
      display: block;
    }
  }

  @media screen and (max-width: 500px) {
    .navigation a {
      float: none;
      display: block;
      padding: 0rem;
    }
  } */

/** attempt to make responsive **/
/*
@media screen and (max-width: 768px) {
    .navigation .nav-pills {
        display: block;
        flex-direction: column;
        align-items: center;
    }
} */

/** best attempt to make it responsive */

label {
    margin: 0 40px 0 0;
    font-size: 26px;
    line-height: 70px;
    display: none;
    width: 26px;

}

#toggle {
    display: none;
}


@media only screen and (max-width: 768px) {

    html,
    body {
        width: 100%;
        overflow-x: hidden;
    }

    label {
        display: block;
        cursor: default;
    }

    .btn {
        display: block;
        width: 10rem;
        margin-bottom: 0.5rem;
    }

    .navigation {
        padding: 0.2rem;
        margin-right: auto;
    }

    .navigation .nav-pills {
        text-align: center;
        width: 100%;
        display: none;
        position: absolute;
        right: 0px;
        top: 55px;
        background-color: var(--primary-color);
        border-bottom-left-radius: 1rem;
        border-bottom-right-radius: 1rem;
        /* border-top-right-radius: 1rem;
        border-top-left-radius: 1rem; */
        padding: 0rem;
        z-index: 50;
        margin-right: auto;
        width: auto;
    }

    /* .navigation a{
        display: block;
        margin: 0;

    }  */
    #toggle:checked+.nav-pills {
        display: block;
        flex-direction: column;
        display: flex;
        align-items: flex-start;
        justify-content: space-around;
    }

}

/** coding-lanugage **/

pre {
    display: block;
    padding: 28px;
    margin: 0px 0px 14px;
    font-size: 85%;
    font-family: Consolas, Menlo, Monaco, source-code-pro, "Courier New", monospace;
    tab-size: 4;
    hyphens: none;
    color: white;
    background-color: #011627;
    overflow: auto;
    border-radius: 10px;
}



code {
    font-family: Consolas, Menlo, Monaco, source-code-pro, "Courier New", monospace;
    line-height: 100%;
    background-color: #D1D1D0;
    padding: 0.15rem 0.15rem;
    border-radius: 0.25rem;
    letter-spacing: normal;
    word-break: normal;
}


pre code {
    border: none;
    background: none;
    line-height: 1em;
    letter-spacing: normal;
    word-break: break-all;
}

blockquote {
    background: #f9f9f9;
    border-left: 10px solid #ccc;
    margin: 1.5em 10px;
    padding: 0.5em 10px;
    quotes: "\201C""\201D""\2018""\2019";
}

blockquote:before {
    color: #ccc;
    content: open-quote;
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
}

blockquote p {
    display: inline;
}

.blog-images {
    max-width: 100%;
    height: auto;
}